@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  @apply border-primary border-spacing-2;
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: "#ADB5BD";
}

body {
  font-family: "Outfit", sans-serif;
}

tr:nth-child(od) {
  background-color: @apply bg-gray-600;
}

/* POPUP STYLES */

.popup-content {
  @apply bg-white;
  border-radius: 8px;
  margin: auto;
  width: fit-content;
  padding: 5px;
  border: none;
}

.popup-arrow {
  @apply bg-white;
}

[role="tooltip"].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}
