:root {
  --primary-blue: #016fb9;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
